body {
    background-image: url("https://pbs.twimg.com/media/ET0TVJBUwAA9mjH.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.title {
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    max-height: 400px;

}
.card {
    display: grid;
    border: 4px 4px black solid;
    border-radius: 10px;
    background-color: aliceblue;
    width: 550px;
    max-height: auto;
    place-items: center;
    box-shadow: 4px 4px 4px;
    cursor: pointer;


}
.homer {
display: grid;
position: relative;
top: 100%;
transition: all .75s ease-in;
height: 50%;
place-items: center;

}
.card:active ~ .homer{
    display: grid;
    top: 0;
    place-items: middle;
    
}
.maincard {
     overflow: hidden;   
}
